*{
  margin:0;
  padding:0;
}
body{
  background:#eaeaea
}
.header{
  line-height: 60px;
  background: #333;
 
}
.hader-content{
  margin:0 auto;
  width:600px;
  font-size: 24px;
  color:#ffffff;
}
.header-input{
  outline:none ;
  width:360px;
  margin-top:15px;
  float:right;
  line-height:24px;
  border-radius:5px;
  padding:0px 10px;
}

.Undo-List{
  margin:0 auto;
  width:600px;
}
.undo-list-title{
  margin:10px 0;
  line-height: 30px;
  font-size:24px;
  font-weight: bold;
}
.undo-list-count{
  float: right;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  background: #e6e6e6;
  border-radius: 50%;
  margin-top:10px;
}

.undo-list-content{
  list-style: none;
}

.undo-list-item{
  line-height: 32px;
  font-size: 16px;
  margin-bottom: 10px;
  background: #fff;
  border-left:3px solid #629a9c;
  text-indent:10px;
  border-radius: 3px;
}

.undo-list-delete{
  float: right;
  margin-top:6px;
  margin-right:6px;
  text-indent:0px;
  width:20px;
  height:20px;
  text-align: center;
  background: #e6e6e6;
  border-radius: 50px;
  line-height: 15px;
  cursor: pointer;
}